<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
    <RunConfiguration>
        <!--<TestCaseFilter>TestCategory=cat</TestCaseFilter>-->
        <ResultsDirectory>TestResults</ResultsDirectory>
    </RunConfiguration>
    <LoggerRunSettings>
        <Loggers>
            <Logger friendlyName="nunit" enabled="True">
                <Configuration>
                    <LogFilePrefix>TestResults_DEV</LogFilePrefix>
                </Configuration>
            </Logger>
            <Logger friendlyName="trx" enabled="True">
                <Configuration>
                    <LogFilePrefix>TestResults_DEV</LogFilePrefix>
                </Configuration>
            </Logger>
            <Logger friendlyName="html" enabled="True">
                <Configuration>
                    <LogFilePrefix>TestResults_DEV</LogFilePrefix>
                </Configuration>
            </Logger>
        </Loggers>
    </LoggerRunSettings>
    <TestRunParameters>
        <Parameter name="jsonPlaceholderUrl" value="https://jsonplaceeeeeholder.typicode.com" />
        <Parameter name="baseUrl" value="https://www.saucedemo.com" />
        <Parameter name="timeoutInSeconds" value="10" />
        <Parameter name="headless" value="true" />       
    </TestRunParameters>
</RunSettings>